.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .list li {
    margin: 1rem;
    padding: 1rem;
    width: 30rem;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }